.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/captures
.dea
.dea/*.*
/.idea/*.xml
/.idea/copyright
/.deal/libraries
build
/build/*.*
.idea
app/local.properties
/run.sh
run.sh
/*.sh
.gitattributes
gradle/
gradlew
gradlew.bat
dependencies/
