<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.brc.idauth"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.usb.host"/>


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"


        android:hardwareAccelerated="true"
        android:icon="${APP_ICON}"
        android:label="${APP_NAME}"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon,android:label">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Activity"

        >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="brc"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.verify.VerifyActivity"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter">
            </meta-data>
        </activity>
        <activity android:name=".ui.resetpassword.ResetPasswordActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name=".ui.forgetpassword.ForgetPasswordActivity"
                  android:screenOrientation="landscape"
        />
        <activity android:name=".ui.searchsquare.SearchSquareActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name=".ui.records.RecordsActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>